<div>
  <app-barra-busqueda></app-barra-busqueda>
</div>
<h2>Comidas</h2>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div *ngFor="let comida of comidas" class="col-sm-4">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Nombre Plato:{{comida.nombrePlato}}</mat-card-title>
            <mat-card-subtitle>Descripción Plato:{{comida.descripcionPlato}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image
               src={{comida.imagenUrl}}>
          <mat-card-actions>
            <button mat-button (click)="seleccionarComida(comida)">Seleccionar</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-2">
    <button mat-raised-button color="primary">Cargar Mas</button>
  </div>
  <div class="col-sm-5"></div>
</div>
<br>
<h2>Ingredientes</h2>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div *ngFor="let ingrediente of ingredientes" class="col-sm-3">
        <div class="row">
          <div class="col-sm-6">
            <img src="{{ingrediente.imagenUrl}}" style="height: 60px; width: 60px">
          </div>
          <div class="col-sm-5">
            <h5>Nombre Ingrediente:{{ingrediente.nombreIngrediente}}</h5>
            <h5>Tipo de Ingrediente:{{ingrediente.tipoIngrediente}}</h5>
          </div>
          <div class="col-sm-1"></div>
        </div>

      </div>
      <br>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-2">
    <button mat-raised-button color="primary">Cargar Mas</button>
  </div>
  <div class="col-sm-5"></div>
</div>

