<h3>Datos de Cuenta</h3>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <h4>Jefferson</h4>
  </div>
  <div class="col-sm-2">
    <h4>Paredes</h4>
  </div>
  <div class="col-sm-2">
    <h4>jeffersoinpm@gmail.com</h4>
  </div>
  <div class="col-sm-3">
    <button mat-button >Confirmar Compra</button>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-7">
      <h4>Cdla Ibarra</h4>
  </div>
  <div class="col-sm-5"></div>
</div>
<h3>Datos de Facturación</h3>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <h4>Jefferson</h4>
  </div>
  <div class="col-sm-2">
    <h4>Paredes</h4>
  </div>
  <div class="col-sm-2">
    <h4>jeffersoinpm@gmail.com</h4>
  </div>
  <div class="col-sm-3">
    <button mat-button >Editar datos de Facturación</button>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-7">
    <h4>Cdla Ibarra</h4>
  </div>
  <div class="col-sm-5"></div>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Nombre Ingrediente:</mat-card-title>
    <mat-card-subtitle>Tipo Ingrediente:</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
       src=""
       alt="Photo of a Shiba Inu">
</mat-card>
<div class="row">
  <div class="col-sm-10"></div>
  <div class="col-sm-2">
    <h4>Total:</h4>
  </div>
</div>

