<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h4>Datos de la cuenta</h4>
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4">
            <label>Jefferson</label>
          </div>
          <div class="col-sm-4">
            <label>Paredes</label>
          </div>
          <div class="col-sm-4">
            <label>jeffersoinpm@gmail.com</label>
          </div>
        </div>
        <label>Cdla.Ibarra, Segundo Darquea y Rosario Borja</label>
      </div>
      <div class="col-sm-4">
        <button mat-raised-button color="primary" style="text-align: center">Completar la orden</button>
      </div>
    </div>
    <br>
    <h4>Datos de facturación</h4>
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4">
            <label>Jefferson</label>
          </div>
          <div class="col-sm-4">
            <label>Paredes</label>
          </div>
          <div class="col-sm-4">
            <label>jeffersoinpm@gmail.com</label>
          </div>
        </div>
        <label>Cdla.Ibarra, Segundo Darquea y Rosario Borja</label>
      </div>
      <div class="col-sm-4">
        <button mat-raised-button color="primary" style="text-align: center">Editar datos de facturación</button>
      </div>
    </div>
    <br>
    <br>
    <h4>Ingredientes</h4>
    <div *ngFor="let ingrediente of ingredientesComprados">
    <mat-card>
      <div class="row">
        <div class="col-sm-3" >
          <img src="{{ingrediente.imagenUrl}}" alt="ingrediente" style="width: 100%; max-width: 350px">
        </div>
        <div class="col-sm-9">
          <h3>Ingrediente: {{ingrediente.nombreIngrediente}}</h3>
          <br>
          <div class="row">
            <div class="col-sm-4">
              <label>Tipo de Ingrediente: {{ingrediente.tipoIngrediente}}</label>
              <br>
              <label>Cantidad: {{ingrediente.cantidad}}</label>
            </div>
            <div class="col-sm-4">
              <label>Descripción Preparación: {{ingrediente.descripcionPreparacion}}</label>
              <label>Necesita refrigeración: {{ingrediente.necesitaRefrigeracion===false?'NO':'SI'}}</label>
            </div>
            <div class="col-sm-4">
              <label>Opcional: {{ingrediente.opcional===false?'NO':'SI'}}</label>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    </div>
    <br>
    <label>Total: XXXX</label>
  </div>
  <div class="col-sm-1"></div>
</div>
